<mat-card-content>
  <mat-action-list>
    <button mat-list-item>Local Hotels, Food, & Travel</button>
    <mat-divider></mat-divider>
    <button mat-list-item>CCHMC Fetal Care Center Facility</button>
    <mat-divider></mat-divider>
    <button mat-list-item routerLink="/resources">Twin-Twin Transfusion Syndrome</button>
    <mat-divider></mat-divider>
    <button mat-list-item>Congenital Diaphragmatic Hernia (CDH)</button>
    <mat-divider></mat-divider>
    <button mat-list-item>Bladder Outlet Obstruction</button>
    <mat-divider></mat-divider>
    <button mat-list-item>Myelomeningocele / Spina Bifida</button>
    <mat-divider></mat-divider>
    <button mat-list-item>Congenital Pulmonary Airway Malformation</button>

  </mat-action-list>
</mat-card-content>
