<h2><ng-container *ngIf="isValueThere; else noValue">{{ obsList[0].resource.code.text}}</ng-container></h2>

<ul>
  <ng-container *ngFor="let obs of obsList">
    <li>
      <ng-container *ngIf="obs.resource.issue; then noValue"></ng-container>

      <ng-container *ngIf="obs.resource.valueQuantity">
        <span style="font-weight: bolder;">{{ obs.resource.code.text }}:  </span> {{obs.resource.valueQuantity.value | number:'1.0-3'}} {{obs.resource.valueQuantity.unit}}
        <p>Date Issued: {{ (obs.resource.issued || obs.resource.effectiveDateTime) | date: 'short'}} EST</p>
      </ng-container>
      <ng-container *ngIf="obs.resource.component">
        <ng-container *ngFor="let comp of obs.resource.component">
          <span style="font-weight: bolder;">{{ comp.code.text }}:  </span> {{comp.valueQuantity.value | number:'1.0-3'}} {{comp.valueQuantity.unit}};
        </ng-container>
        <p>Date Issued: {{ (obs.resource.issued || obs.resource.effectiveDateTime) | date: 'short'}} EST</p>
      </ng-container>
      <ng-container *ngIf="obs.resource.valueCodeableConcept">
        <span style="font-weight: bolder;">{{ obs.resource.valueCodeableConcept.text }}</span>
        <p>Date Issued: {{ (obs.resource.issued || obs.resource.effectiveDateTime) | date: 'short'}} EST</p>
      </ng-container>
    </li><br>
  </ng-container>
</ul>

<ng-template #noValue>Missing Value</ng-template>
