
<div class="main-container" [style.background-color]="(state$ | async) | stateColor">
  <ng-container *ngIf="(state$ | async) === controlState.FETALCARE; then Consultation; else Pregnant"></ng-container>
</div>

<ng-template #Consultation>
  <ng-container *ngIf="(state$ | async) === controlState.FETALCARE; else Pregnant">
    <div class="welcome-container add-padding">
      <p class="welcome-text">You are <br><span>{{iEGAWeeks}}<sup>{{iEGADays}}</sup> weeks pregnant</span></p>
      <div class="consultation-message"><p>
        The purpose of this app is to provide better care for our patients at Cincinnati Children's. See
        below for helpful tips on preparing for your visit to the Fetal Care Center.
      </p></div>
    </div>
  </ng-container>
</ng-template>

<ng-template #Pregnant>
  <ng-container *ngIf="(state$ | async) === controlState.HOME; else Delivered">
    <div class="welcome-container add-padding">
      <p class="welcome-text">You are <br><span>{{iEGAWeeks}}<sup>{{iEGADays}}</sup> weeks pregnant</span></p>
    </div>

    <div class="fruit-facts" fxLayout="row" fxLayoutAlign="space-between space-between">
      <mat-card class="mat-elevation-z0 fruit-card">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h3>Kareem</h3>
          <img mat-card-md-image src="{{twinA.imgUrl}}" alt="fruit">
          <p>Kareem is about the {{twinA.type}} of a {{twinA.fruit}}!</p>
        </div>
      </mat-card>

      <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>

      <mat-card class="mat-elevation-z0 fruit-card">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h3>Serena</h3>
          <img mat-card-md-image src="{{twinB.imgUrl}}" alt="fruit">
          <p>Serena is about the {{twinB.type}} of a {{twinB.fruit}}!</p>
        </div>
      </mat-card>

    </div>
  </ng-container>
</ng-template>

<ng-template #Delivered>
  <ng-container *ngIf="(state$ | async) === controlState.DELIVERED; else OutHospital">
    <div class="fruit-facts" fxLayout="row" fxLayoutAlign="space-between">

      <mat-card class="mat-elevation-z0 fruit-card">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h3>Kareem</h3>
          <img mat-card-md-image src="../../../../assets/img/infant.jpg" alt="Baby">
          <p>Kareem weighs 7-lbs and is 15-in long</p>
          <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Info</button>
          <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Image</button>
        </div>
      </mat-card>

      <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>

      <mat-card class="mat-elevation-z0 fruit-card">
        <div fxLayout="column" fxLayoutAlign="center center">
          <h3>Serena</h3>
          <img mat-card-md-image src="{{twinB.imgUrl}}" alt="fruit">
          <p>Serena weighs 5.1-lbs and is 12-in long</p>
          <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Info</button>
          <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Image</button>
        </div>
      </mat-card>

    </div>
  </ng-container>
</ng-template>

<ng-template #OutHospital>
  <div class="fruit-facts" fxLayout="row" fxLayoutAlign="space-between">

    <mat-card class="mat-elevation-z0 fruit-card">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3>Kareem</h3>
        <img mat-card-md-image src="/src/assets/img/infant.jpg" alt="Baby">
        <p>Kareem weighs 8.8-lbs and is 15-in long</p>
        <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Info</button>
        <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Image</button>
      </div>
    </mat-card>

    <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>

    <mat-card class="mat-elevation-z0 fruit-card">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3>Serena</h3>
        <img mat-card-md-image src="{{twinB.imgUrl}}" alt="fruit">
        <p>Serena weighs 7.4-lbs and is 14-in long</p>
        <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Info</button>
        <button mat-raised-button [style.color]="(state$ | async) | stateColor">Update Baby Image</button>
      </div>
    </mat-card>

  </div>
</ng-template>
