<div class="registration-container">
  <h1>Registration</h1>
  <form class="registration-form" [formGroup]="registration">
    <mat-form-field class="form-field">
      <mat-label>First Name</mat-label>
      <input type="text"
       matInput
       formControlName="firstname" [(ngModel)]="registrationInfo.firstName">
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Last Name</mat-label>
      <input type="text"
       matInput
       formControlName="lastname" [(ngModel)]="registrationInfo.lastName">
    </mat-form-field>
<div>
    <mat-form-field class="form-field">
      <input matInput [matDatepicker] = "DoBpicker" placeholder = "Mother's Birthday" formControlName='MotherDoB' [(ngModel)]="registrationInfo.MotherDoB">
      <mat-datepicker-toggle matSuffix [for] = "DoBpicker"></mat-datepicker-toggle>
      <mat-datepicker #DoBpicker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
    <mat-form-field class="form-field">
      <input matInput [matDatepicker] = "EDDpicker" placeholder = "Estimated Due Date" formControlName='EstDueDate' [(ngModel)]="registrationInfo.EstDueDate">
      <mat-datepicker-toggle matSuffix [for] = "EDDpicker"></mat-datepicker-toggle>
      <mat-datepicker #EDDpicker disabled="false"></mat-datepicker>
    </mat-form-field>
<div>
    <mat-form-field class="form-field">
      <mat-label>Diagnosis</mat-label>
      <input type="text"
       matInput
       formControlName="Diagnosis" [(ngModel)]="registrationInfo.Diagnosis">
    </mat-form-field>
    </div>
<div>
    <mat-form-field class="form-field" style="max-width: 30em; width: 90%;">
      <input type="text"
         matInput
         formControlName="Hospital"
         [matAutocomplete]="auto"
         placeholder="Select a hospital" [(ngModel)]="registrationInfo.Hospital">
       <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let hospital of hospitalList | async" [value]="hospital">
          {{hospital}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  </form>

  <div class="button-container">
    <button mat-button class="submit-button" (click)="submit()" [disabled]="!registration.valid">Submit</button>
  </div>
</div>
