$primary: #732d64;
$white: #fff;
$disabled: #7e7e7e;

.registration-container {
  padding-top: 5rem;
  padding-left: 2rem;
}

.form-field{
  padding-right: 5rem;
}

.button-container {
  position: relative;
  padding-top: 1rem;

  .mat-button-disabled{
    background-color: $disabled;
  }

  .submit-button {
      background-color: $primary;
      color: $white;
      font-size: 18px;
      font-weight: 900;
  }

  .submit-button:disabled {
    background-color: $disabled;
  }
}
