<form [formGroup]="login" fxLayout="column">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="text" formControlName="password">
  </mat-form-field>
  <button mat-button (click)="tempLogin()">Login</button>
</form>
<!--<form class="registration-form" [formGroup]="registration" fxLayout="column"> &lt;!&ndash;(ngSubmit)="submit()"&ndash;&gt;-->
<!--  &lt;!&ndash; Mother's First Name input &ndash;&gt;-->
<!--  <ng-container>-->
<!--  <mat-form-field class="form-field" fxFlex>-->
<!--    <mat-label>First Name</mat-label>-->
<!--    <input type="text"-->
<!--           matInput-->
<!--           formControlName="firstname"-->
<!--           [(ngModel)]="registrationInfo.firstName"/>-->
<!--  </mat-form-field>-->

<!--  &lt;!&ndash; Mother's Last Name Input Field &ndash;&gt;-->
<!--  <mat-form-field class="form-field" fxFlex>-->
<!--    <mat-label>Last Name</mat-label>-->
<!--    <input type="text"-->
<!--           matInput-->
<!--           formControlName="lastname"-->
<!--           [(ngModel)]="registrationInfo.lastName"/>-->
<!--  </mat-form-field>-->
<!--  &lt;!&ndash; Mother's Date of Birth Input Field &ndash;&gt;-->
<!--  <mat-form-field class="form-field">-->
<!--    <input matInput-->
<!--           [matDatepicker]="DoBpicker"-->
<!--           placeholder="Birthday"-->
<!--           formControlName="MotherDoB"-->
<!--           [(ngModel)]="registrationInfo.MotherDoB"/>-->
<!--    <mat-datepicker-toggle matSuffix [for]="DoBpicker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #DoBpicker disabled="false"></mat-datepicker>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Phone Number</mat-label>-->
<!--    <input matInput-->
<!--           type="tel"-->
<!--           formControlName="phone"-->
<!--           placeholder="Ex: 5139998888"-->
<!--           [(ngModel)]="registrationInfo.phone">-->
<!--           <mat-hint>No spaces or dashes</mat-hint>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field class="form-field">-->
<!--    <mat-label>Email</mat-label>-->
<!--    <input type="text"-->
<!--           matInput-->
<!--           formControlName="email"/>-->
<!--  </mat-form-field>-->
<!--  <div *ngIf="EmailInUse">-->
<!--    <span style="color: red;">Email is already in use</span>-->
<!--  </div>-->

<!--  &lt;!&ndash; Psasword Input Field &ndash;&gt;-->
<!--  <mat-form-field class="form-field">-->
<!--    <mat-label>Password</mat-label>-->
<!--    <input [type]="hide1 ? 'password' : 'text'"-->
<!--           matInput-->
<!--           formControlName="password1"/>-->
<!--    <mat-icon matSuffix (click)="hide1 = !hide1"-->
<!--              class="material-icons">{{hide1 ? "visibility_off" : "visibility"}}</mat-icon>-->
<!--  </mat-form-field>-->
<!--  <span>Please reenter your password</span>-->
<!--  <mat-form-field class="form-field">-->
<!--    <mat-label>Password</mat-label>-->
<!--    <input [type]="hide2 ? 'password' : 'text'"-->
<!--           matInput-->
<!--           formControlName="password2"/>-->
<!--    <mat-icon matSuffix (click)="hide2 = !hide2"-->
<!--              class="material-icons">{{hide2 ? "visibility_off" : "visibility"}}</mat-icon>-->
<!--  </mat-form-field>-->
<!--  <div *ngIf="!passwordsMatch">-->
<!--    <span style="color: red;">Passwords do not match</span>-->
<!--  </div>-->
<!--</ng-container>-->
<!--&nbsp;-->
<!--  <button mat-raised-button-->
<!--          class="submit-button"-->
<!--          color="primary"-->
<!--          [disabled]="!registration.valid"-->
<!--          (click)="openDialog()">Register-->
<!--  </button>-->
<!--  </form>-->

