<!--<mat-card style="margin: auto; width: 70%">-->
<!--  <mat-card-title>Registration</mat-card-title>-->
<form class="registration-form" [formGroup]="registration" fxLayout="column" (ngSubmit)="submit()">
  <!-- Mother's First Name input -->
  <!--    <div fxLayout="row" fxLayoutGap="15px">-->
  <ng-container *ngIf="isPage2; else elseTemplate">
  <mat-form-field class="form-field" fxFlex>
    <mat-label>First Name</mat-label>
    <input type="text"
           matInput
           formControlName="firstname"
           [(ngModel)]="registrationInfo.firstName"/>
  </mat-form-field>

  <!-- Mother's Last Name Input Field -->
  <mat-form-field class="form-field" fxFlex>
    <mat-label>Last Name</mat-label>
    <input type="text"
           matInput
           formControlName="lastname"
           [(ngModel)]="registrationInfo.lastName"/>
  </mat-form-field>
  <!--    </div>-->
  <!-- Mother's Date of Birth Input Field -->
  <mat-form-field class="form-field">
    <input matInput
           [matDatepicker]="DoBpicker"
           placeholder="Birthday"
           formControlName="MotherDoB"
           [(ngModel)]="registrationInfo.MotherDoB"/>
    <mat-datepicker-toggle matSuffix [for]="DoBpicker"></mat-datepicker-toggle>
    <mat-datepicker #DoBpicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <!-- Mother's Expected Deliver Input Field -->
  <mat-form-field class="form-field">
    <input matInput
           [matDatepicker]="EDDpicker"
           placeholder="Estimated Due Date"
           formControlName="EstDueDate"
           [(ngModel)]="registrationInfo.EstDueDate"/>
    <mat-datepicker-toggle matSuffix [for]="EDDpicker"></mat-datepicker-toggle>
    <mat-datepicker #EDDpicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <!-- Diagnosis Input Field -->
  <mat-form-field class="form-field">
    <mat-label>Diagnosis</mat-label>
    <input type="text"
           matInput
           formControlName="Diagnosis"
           [(ngModel)]="registrationInfo.Diagnosis"/>
  </mat-form-field>
  <!-- Expected Delivery Hospital Selection Input Field -->
  <mat-form-field class="form-field">
    <!-- Chips to display all curently selected hospital locations -->
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let hos of selectedHospitals"
                [selectable]="true"
                [removable]="true"
                (removed)="removeChip(hos)">
        {{ hos }}
        <mat-icon matChipRemove *ngIf="true" class="material-icons">cancel</mat-icon>
      </mat-chip>
      <!-- Type and auto complete field for hospital selection -->
      <input type="text"
             matInput
             formControlName="Hospital"
             #hospitalInput
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addChip($event)"
             placeholder="Select a hospital"
             [(ngModel)]="registrationInfo.hospital"/>
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete"
                      (optionSelected)="selected($event)">
      <mat-option *ngFor="let hospital of hospitalList | async"
                  [value]="hospital">
        {{ hospital }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>

  <ng-template #elseTemplate>
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input type="text"
           matInput
           formControlName="email"/>
  </mat-form-field>
  <div *ngIf="EmailInUse">
    <span style="color: red;">Email is already in use</span>
  </div>

  <!-- Psasword Input Field -->
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input [type]="hide1 ? 'password' : 'text'"
           matInput
           formControlName="password1"/>
    <mat-icon matSuffix (click)="hide1 = !hide1"
              class="material-icons">{{hide1 ? "visibility_off" : "visibility"}}</mat-icon>
  </mat-form-field>
  <span>Please reenter your password</span>
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input [type]="hide2 ? 'password' : 'text'"
           matInput
           formControlName="password2"/>
    <mat-icon matSuffix (click)="hide2 = !hide2"
              class="material-icons">{{hide2 ? "visibility_off" : "visibility"}}</mat-icon>
  </mat-form-field>
  <div *ngIf="!passwordsMatch">
    <span>Passwords do not match</span>
  </div>
</ng-template>
<button mat-raised-button
          class="submit-button"
          color="primary"
          type="button"
          (click)="pageChange()">{{pageButtonText}}
  </button>
&nbsp;
  <button mat-raised-button
          class="submit-button"
          color="primary"
          [disabled]="!registration.valid">Register
  </button>
</form>

<!--</mat-card>-->
