table {
  width: 100%;
}

.mat-column-name {
  border-right: 0.5px solid #ca5699;
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}

td.mat-cell {
  padding-left: 10px;
  text-align: center;
}
