<h1 mat-dialog-title>Confirm</h1>

<mat-dialog-content>
  <form [formGroup]="dialogForm" fxLayout="column">

    <mat-form-field>
      <mat-label>Status Of Pregnancy</mat-label>
      <mat-select formControlName="status" [(ngModel)]="this.formVals.status">
        <mat-option value="born">Baby has been born</mat-option>
        <mat-option value="died">Baby is deceased</mat-option>
        <mat-option value="notborn">Baby has not been born yet</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <ng-container *ngIf="dialogForm.value.status === 'died'">
      <mat-form-field>
        <mat-label>Date of Death</mat-label>
        <input matInput type="date" formControlName="DOD" [(ngModel)]="this.formVals.DateOD">
      </mat-form-field>
      <br>

      <mat-label>Stillbirth?</mat-label>
      <br>
      <mat-radio-group formControlName="stillbirth" [(ngModel)]="this.formVals.wasStillbirth">
        <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button value="no">No</mat-radio-button>
      </mat-radio-group>
      <br>
    </ng-container>

    <ng-container *ngIf="dialogForm.value.status === 'notborn'">
      <p>Thank you! We will notify you in a week for an update.</p>
    </ng-container>

    <ng-container *ngIf="dialogForm.value.status === 'born'">
      <mat-form-field>
        <mat-label>Baby's Birth Date</mat-label>
        <input type="date" matInput formControlName="birthDate" [(ngModel)]="this.formVals.bday">
      </mat-form-field>
      <br>

      <mat-form-field class="form-field">
        <mat-label>Baby's Birth Time</mat-label>
        <input type="time" matInput formControlName="birthTime" [(ngModel)]="this.formVals.btime">
      </mat-form-field>
      <br>


      <mat-form-field>
        <mat-label>Baby's Sex</mat-label>
        <mat-select formControlName="birthSex" [(ngModel)]="this.formVals.bsex">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Unknown</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="form-field">
        <mat-label>Baby's Name</mat-label>
        <input type="text" matInput formControlName="babyName" [(ngModel)]="this.formVals.baby">
      </mat-form-field>
      <br>
      <p>Congratulations!❤️</p>
      <br>
    </ng-container>



  </form>
</mat-dialog-content>

<ng-container mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button
  type="submit"
  (click)="submit()"
  [disabled]="!dialogForm.valid"
  >
  Confirm</button>
</ng-container>



