<div class="ss"> 
  
  <div class="app-start-header">
    <img src="assets/img/CC%20Logo%20-%20With%20Tagline.png" alt="cchmc logo" class="cchmc-logo $$ ss" >
    <span fxFlex></span>
    <h1 class="app-title $$ ss">Connect 4 Care</h1>
    <span fxFlex></span> 
  </div>
  <div class="main-area" ></div>
    <section >
      <article >
        <h1>Cincinnati Children's Hospital Medical Center</h1>
        <p>Cincinnati Children's Hospital Medical Center is an academic pediatric acute care children's hospital located in the Pill Hill neighborhood of Cincinnati, Ohio. The hospital has 634 pediatric beds and is affiliated with the University of Cincinnati Academic Health Center.</p>
        <p></p>
      </article>
    </section>
    <footer>
      <p>CCHMC</p>
    </footer>
  </div>
