@import "src/cchmc";

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(300px,40vw), 1fr));
  height: 50px;
  gap: 15px 15px;
}

.woah-card {
  background-color: $cchmc-green;
  color: white;
}
.woah-card:hover {
  background-color: $cchmc-lightgreen;
}

.resource-card {
  background-color: $cchmc-blue;
  color: white;
}
.resource-card:hover {
  background-color: $cchmc-lightblue;
}

.contact-card {
  background-color:  $cchmc-semiLightGray;
  color: white;
  a:hover {
    background-color: $cchmc-lightblue;
  }
}
.contact-card:hover {
  background-color:  $cchmc-lightgray;
}
