@use '~@angular/material' as mat;
@import "src/cchmc";

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(300px,40vw), 1fr));
  gap: 15px 15px;
  padding-bottom: 10px;
}

mat-icon {
  vertical-align: middle;
}

.woah-card {
  mat-card-header {
    background-color: $cchmc-green;
  }
  &:hover {
    @include mat.elevation-transition();
    @include mat.elevation(15);
  }
}
.woah-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  a {
    background-color: $cchmc-lightgray;
    color: white;
  }
}

.active-status {
  a {
    width: 100%;
    background-color: $cchmc-green!important;
  }
}

.raised {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  button {
    width: 80%;
    background-color: $cchmc-green;
    color: white;
  }
}

.resource-card {
  mat-card-header {
    background-color: $cchmc-blue;
  }
  &:hover {
    @include mat.elevation-transition();
    @include mat.elevation(15);
  }
}

.contact-card {
  mat-card-header {
    background-color: $cchmc-semiLightGray;
  }
  &:hover {
    @include mat.elevation-transition();
    @include mat.elevation(15);
  }
}

mat-card-header {
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px 1px;
}
mat-card-subtitle {
  color: white;
}
mat-card-content {
  padding: 10px;
}
mat-card {
  border-radius: 10px;
  padding: 0;
}
