<div *ngIf="user | async; else Login">
  <div style="margin-top: 1rem;" fxLayout="row" fxLayoutGap="15px" fxLayout.lt-sm="column" >
    <app-landing-info fxFlex></app-landing-info>

    <mat-card fxFlex *ngIf="!hasBirthed" class="woah-card">
      <mat-card-header>
        <mat-card-title>Gave Birth?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Click on the button below after you have given birth!</h4>
      </mat-card-content>
      <button mat-raised-button color="accent" (click)="openDialog()">I gave birth!</button>
    </mat-card>

    <div *ngIf="hasBirthed">
      <mat-card fxFlex *ngIf="isAuthorized | async">
        <mat-card-header>
          <mat-card-title>Babys Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Data pulled from the EHR is shown here</p>
        </mat-card-content>
        <button
          class="link-buttons"
          mat-raised-button
          color="accent"
          routerLink="/dashboard">
          Dashboard
        </button>
      </mat-card>

      <mat-card fxFlex *ngIf="!(isAuthorized | async)" class="woah-card">
        <mat-card-header>
          <mat-card-title>Authorize</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Click here to connect with your hospital and authorize the EHR</p>
        </mat-card-content>
        <button
          class="link-buttons"
          mat-raised-button
          style="background-color: #00aac8; color: white"
          routerLink="/authorize">
          Connect to your hospital
        </button>
      </mat-card>
    </div>

  </div>
  <br>

    <div fxLayout="row" fxLayoutGap="15px" fxLayout.lt-sm="column">
      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>
            New Mom Resources
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Helpful resources to assist you in the next stage of your life.</p>
        </mat-card-content>
        <button mat-raised-button color="accent" routerLink="/resources">Resources</button>
      </mat-card>

      <mat-card fxFlex>
        <mat-card-header>
          <mat-card-title>
            Contact Us
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>Fetal Care Center</h3>
          <h4>Phone: </h4>
          <p>1-888-338-2559</p>
          <h4>Mailing Address: </h4>
          <p>Cincinnati Children's Fetal Care Center<br>
            MLC 11020<br>
            3333 Burnet Ave.<br>
            Cincinnati, OH 45229-3039</p>
        </mat-card-content>
        <a mat-raised-button color="accent" href="https://www.cincinnatichildrens.org/service/f/fetal-care/contact/form" target="_blank">
          Contact Form
        </a>
      </mat-card>


    </div>
</div>

<ng-template #Login>
  <app-login></app-login>
  <br>
  <!-- <app-registration></app-registration> -->
</ng-template>
