@use '@angular/material' as mat;
@import "src/cchmc";

/*

  -- MOBILE VIEW --

*/
.wrapper {
  padding-top: 0;
  margin-top: 0;
}
.phone-container {
  max-width: 100%;
}
.welcome-container {
   color: #f5f5f5;
   font-size: 36px;

  span {
    font-weight: bolder;
  }
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(300px,40vw), 1fr));
  grid-gap: 10px 15px;
}
mat-icon {
  vertical-align: middle;
}
.woah-card {
  background-image: url('/../../assets/img/mom (1).png');
  background-size: 95%;
  background-position: 650% 0;
}
.resource-card {
  background-image: url('/../../assets/img/ttts.png');
  background-size: contain;
  background-position: 0 80%;
}
.extras-card {
  background-image: url('/../../assets/img/tools.png');
  background-size: contain;
  background-position: 80% 100%;
}
.split-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(100px,40vw), 1fr));
  gap: 10px 15px;
}
.fruit-facts {
  .fact-state {
    font-size: 20px!important;
    span {
      font-weight: bolder;
    }
  }
  p {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #f5f5f5;
  }
  div {
    padding: 1rem 5rem 0 5rem;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 50%;
    }
  }
}



/*

  -- DESKTOP VIEW --

*/
.desktop-container {
  padding: 0 4rem 0 4rem;
  max-width: 100%!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dt-welcome-container {
  color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  //grid-gap: 1rem;
  grid-auto-rows: 1fr;
  p {
    font-size: 24px;
  }
  span {
    font-weight: bolder;
  }

  .fruit-card {
    background-color: rgba(245,245,245,0.3);

    mat-card-title-group {
      color: #f5f5f5;
      padding: 10px;
    }
    p {
      font-size: 12px;
      text-align: right;
      font-style: italic;
      color: #f5f5f5;
    }
    span {
      font-weight: bolder;
    }
    img {
      border-radius: 50%;
    }
  }
}
.dt-card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
}
.dt-preg-status-card {
  background-image: linear-gradient(rgba(245,245,245,.3) 55%, $cchmc-pink);
  background-blend-mode: multiply;
  img {
    object-fit: cover;
    border-top-right-radius: 10px;
  }
}
.dt-auth-card {
  background-image: linear-gradient(rgba(245,245,245,.5) 55%, $cchmc-pink);
  background-blend-mode: multiply;
  img {
    object-fit: cover;
  }
}
.dt-dashboard-card {
  background-image: linear-gradient(rgba(245,245,245,.5) 65%, $cchmc-pink);
  background-blend-mode: multiply;
  img {
    object-fit: cover;
  }
}
.dt-resource-card {
  img {
    object-fit: cover;
  }
}
.dt-extras-card {
}
.dt-profile-card {
}
.dt-edd-container {
  color: #f5f5f5;

  p {
    font-size: 36px;
  }
}


/*

   -- CONSTANTS FOR EVERY MAT-CARD --

*/
mat-card-header {
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px 1px;
}
mat-card-subtitle {
  color: white;
}
mat-card-title-group {
  color: #f5f5f5;

  mat-card-title, mat-card-subtitle {
    padding: 10px 0 0 10px;
  }
}
mat-card-content {
  padding: 10px;
}
mat-card {
  background-color: rgba(245,245,245,0.3);
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 0;
  margin: 0;

  &:hover {
    @include mat.elevation-transition();
    @include mat.elevation(18);
  }
}
