
.patient-data-card {
    width: 50%;
    margin: auto;

    .data-container {
        margin-left: 2rem;

        .search-box {
            display: flex;
            
            button {
                margin-left: 2rem;
                background-color: rgb(60, 96, 255);
                color: white;
                margin: 2rem;
            }
        }
    }
}