<mat-card class="patient-data-card">
  <mat-card-header>
    <mat-card-title>Patient Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-container">
      <div class="search-box" fxLayout="column">
        <mat-form-field class="material-form" fxFlex>
          <mat-label fxFlex>Enter LOINC Code</mat-label>
          <input matInput [formControl]="ptData" maxlength="256" placeholder="Ex '29463-7'">
          <mat-hint align="start">Ex. 29463-7</mat-hint>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="search()">Search</button>
      </div>

      <mat-card-content *ngIf="(obsBundle | async) as bundle">
        <app-obs-value-list [observations]="bundle"></app-obs-value-list>
      </mat-card-content>
    </div>
  </mat-card-content>
</mat-card>
