<mat-card class="patient-data-card">
  <mat-card-header>
    <mat-card-title>Patient Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-container" fxLayout="column" fxLayoutGap="15px">
          <p>Data retrieved from the EHR is displayed here</p>
      <mat-accordion>

        <!-- VITAL SIGNS PANEL -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon >equalizer</mat-icon>&nbsp;&nbsp;
                <span>Vital Signs</span>

<!--              </mat-checkbox>-->
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="(vitalsBundle | async) as bundle; else loading">
            <app-data-table [observations]="bundle"></app-data-table>
          </div>
        </mat-expansion-panel>

        <!-- LABORATORY PANEL -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon >science</mat-icon>&nbsp;&nbsp;
                <span>Laboratory</span>

<!--              </mat-checkbox>-->
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br>
          <div *ngIf="(labBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- MEDICAL STATEMENT PANEL -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon >medication</mat-icon> &nbsp;&nbsp;
                <span>Medical Statement</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br>
          <div *ngIf="(medBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- CONDITIONS PANEL -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon >local_hospital</mat-icon>&nbsp;&nbsp;
                <span>Conditions</span>

<!--              </mat-checkbox>-->
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br>
          <div *ngIf="(conditionBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- PROCEDURES PANEL -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon >healing</mat-icon>&nbsp;&nbsp;
                <span>Procedures</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <br>
          <div *ngIf="(procedureBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

      <button mat-raised-button color="primary" (click)="submitData()">Send to Cincinnati Children's</button>

    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading><br>Data transfer not authorized or error occurred.</ng-template>
