<mat-card class="patient-data-card">
  <mat-card-header>
    <mat-card-title>Patient Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-container" fxLayout="column" fxLayoutGap="15px">

      <div style="padding-left: 1rem;">
        <h3>Heres what we were able to pull from MyChart.</h3>
        <h3>Select the data you would like to send CCHMC:</h3>
        <br>
        <mat-checkbox color="primary"
        [checked]="allComplete"
        [indeterminate]="someComplete()"
        (change)="setAll($event.checked)">
        Authorize All
        </mat-checkbox>
      </div>
      <br>
      <mat-accordion>

        <!-- TODO: obs-value-list printing no value at end of every entry array -->

        <!-- VITAL SIGNS PANEL -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>Vital Signs</mat-panel-title>
              <div *ngIf="task.subtasks[0].completed">
                <mat-panel-description>Selected</mat-panel-description>
              </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[0].completed"
           color="primary"
           (ngModelChange)="updateAllComplete()">
            Include
          </mat-checkbox><br>
          <div *ngIf="(vitalsBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- SOCIAL HISTORY PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Social History</mat-panel-title>
            <div *ngIf="task.subtasks[1].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[1].completed"
           color="primary"
           (ngModelChange)="updateAllComplete()">
            Include
          </mat-checkbox><br>
          <div *ngIf="(socialBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- LABORATORY PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Laboratory</mat-panel-title>
            <div *ngIf="task.subtasks[2].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[2].completed"
            color="primary"
             (ngModelChange)="updateAllComplete()">
             Include
            </mat-checkbox><br>
          <div *ngIf="(labBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- MEDICAL STATEMENT PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Medical Statement</mat-panel-title>
            <div *ngIf="task.subtasks[3].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[3].completed"
            color="primary"
             (ngModelChange)="updateAllComplete()">
             Include
            </mat-checkbox><br>
          <div *ngIf="(medBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- IMMUNIZATION PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Immunization</mat-panel-title>
            <div *ngIf="task.subtasks[4].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[4].completed"
            color="primary"
             (ngModelChange)="updateAllComplete()">
             Include
            </mat-checkbox><br>
          <div *ngIf="(immuneBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- CONDITIONS PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Conditions</mat-panel-title>
            <div *ngIf="task.subtasks[5].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[5].completed"
            color="primary"
             (ngModelChange)="updateAllComplete()">
             Include
            </mat-checkbox><br>
          <div *ngIf="(conditionBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- PROCEDURES PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Procedures</mat-panel-title>
            <div *ngIf="task.subtasks[6].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[6].completed"
            color="primary"
             (ngModelChange)="updateAllComplete()">
             Include
            </mat-checkbox><br>
          <div *ngIf="(procedureBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

        <!-- DOCUMENT PANEL -->
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>Documents</mat-panel-title>
            <div *ngIf="task.subtasks[7].completed">
              <mat-panel-description>Selected</mat-panel-description>
            </div>
          </mat-expansion-panel-header>
          <mat-checkbox
           [(ngModel)]="task.subtasks[7].completed"
            color="primary"
             (ngModelChange)="updateAllComplete()">
             Include
            </mat-checkbox><br>
          <div *ngIf="(documentBundle | async) as bundle; else loading">
            <app-obs-value-list [observations]="bundle"></app-obs-value-list>
          </div>
        </mat-expansion-panel>

      </mat-accordion>



      <!-- <div *ngIf="(obsBundle | async) as bundle">
        <app-obs-value-list [observations]="bundle"></app-obs-value-list>
      </div> -->
      <a mat-button href="https://www.hl7.org/fhir/valueset-observation-category.html" target="_blank">FHIR Categories</a>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading><br>Error retrieving information.</ng-template>
