
.patient-data-card {
    width: 50%;
    margin: auto;

    .data-container {
        margin-left: 2rem;

        .search-box {
            display: flex;
            flex-direction: column;

              .material-form {
                width: 60%;
                padding-top: 1rem;
              }

            button {
                margin-top: 1rem;
                margin-bottom: 1rem;
                margin-right: 80%;
                background-color: rgb(60, 96, 255);
                color: white;
            }
        }
    }
}

