
<div class = "ss" >



  
  <section fxFlexAlign="center" >
    
    <article  fxFlexAlign="center">
      <h1>
        About Us 
      </h1>
      <h1>Cincinnati Children's Hospital Medical Center</h1>
      <p>Cincinnati Children's Hospital Medical Center is an academic pediatric acute care children's hospital located in the Pill Hill neighborhood of Cincinnati, Ohio. The hospital has 634 pediatric beds and is affiliated with the University of Cincinnati Academic Health Center.</p>
      <p></p>
    </article>

  </section>
  
  <footer>
    <p>CCHMC</p>
  </footer>
</div>