<ng-container>
  <mat-card  fxFlex="700px" fxFlex.lt-sm="90%">
    <mat-card-header>
      <mat-card-title>We're here for you.</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="info-container">

<!--          WHAT IS TWIN TWIN TRANS SYNDROME                -->
        <h3>What is TTTS?</h3>
        <p>
          Twin to Twin Transfusion Syndrome (TTTS) is a prenatal condition affecting 15-20% of twin births. The twins share
          an unequal amount of the placenta's blood supply resulting in the two fetuses growing at different rates. It is unrelated to anything
          the mother did or did not do during pregnancy.
        </p>
        <p>
          In TTTS, the twins share the placenta (monochorionic). Abnormal blood vessel connections form in the placenta and allow blood to flow
          un-evenly between the fetuses. One twin, called the donor, becomes dehydrated. The other twin, called the recipient, develops high blood pressure and
          produces too much urine, overfilling the amniotic sac.
        </p>
        <p>
          Getting a diagnosis of twin-twin transfusion syndrome is an emotional experience. Without treatment, this condition can be fatal
          for one or both twins. Sometimes decisions about treatment need to be made quickly. At the Cincinnati Children's Fetal Care Center, we are here
          to help.
        </p>

<!--             TREATMENT SECTION             -->
        <h3>TTTS Treatment</h3>
        <p>
          The treatment plan we recommend depends on the severity of the condition and how far along the pregnancy is.
        </p>
        <span>Expectant Management (Monitoring the Pregnancy)</span>
        <p>
          In less severe cases, surgery may not be needed. If that is the case, we will use ultrasound and fetal echocardiography to
          monitor the fetuses during the pregnancy. If their condition worsens, our team will work with the patient, the patient’s family
          and referring doctor to decide what treatment is best. Sometimes, early delivery is the best option.
        </p>
        <span>Amnioreduction (Draining Excess Amniotic Fluid)</span>
        <p>
          When the fetuses are only mildly affected by TTTS, we may recommend amnioreduction to drain the excess amniotic fluid from
          the recipient twin’s sac. If amnioreduction does not work, patients may be given the option to move forward with selective fetoscopic laser
          photocoagulation (SFLP), known as laser surgery.
        </p>
        <span>Selective Fetoscopic Laser Photocoagulation (Laser Surgery)</span>
        <p>
          When the pregnancy is more severely affected by TTTS, the team may recommend selective fetoscopic laser photocoagulation, or
          laser surgery. This procedure involves making a small incision in the mother’s abdomen and inserting a trocar, or small metal tube, into the uterus.
          The surgeon then passes a fetoscope (a kind of medical telescope) through the metal tube to see all the blood vessel connections on the surface of the
          placenta shared by the twins.
        </p>
        <p>
          After all the abnormal blood vessel connections are found, the laser is used to treat these vessels. The laser disconnects them permanently.
          Afterward, the surgeon drains the extra amniotic fluid around the recipient fetus through the trocar. The surgery is then complete.
        </p>
        <p>
          The location of the placenta will help decide the type of anesthesia used for the laser surgery. If the placenta is “posterior,” or located
          on the back wall of the uterus, we recommend intravenous (IV) sedation and a local anesthetic. However, if the placenta is “anterior,” or located on the
          front wall of the uterus, we recommend IV sedation, a local anesthetic, and possibly an epidural.
        </p>
        <p>
          After laser surgery, most patients stay in the hospital for one day. Post-operative ultrasound and fetal echocardiography are then repeated
          five days after the laser surgery to reassess the fetal condition. We will work with the patients’ maternal-fetal medicine specialist and obstetrician
          to make sure they have followed up care at home.
        </p>
        <app-yt-player [vidToGet]="'TTS'"></app-yt-player>

        <h3>Long-Term Prognosis for TTTS</h3>
        <p>
          Twin-twin transfusion syndrome often causes premature birth. In this case, babies need care in a neonatal intensive care unit.
        </p>
        <p>
          Most babies who are successfully treated for twin-twin transfusion syndrome live normal, healthy lives. However, some experience mild complications,
          such as anemia. This can be easily treated. More serious problems include brain injury and heart failure. If local specialists are not available, specialists at
          Cincinnati Children’s can help by providing long-term, expert care for these children.
        </p>

      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>More resources</mat-panel-title>
          </mat-expansion-panel-header>
          <a href="https://www.cincinnatichildrens.org/service/f/fetal-care/contact">Contact Fetal Care Center</a>
          <br><br>
          <a href="https://www.cincinnatichildrens.org/service/f/fetal-care/services/surgical/expect">Fetal Surgery - What to Expect</a>
          <br><br>
          <a href="https://www.cincinnatichildrens.org/health/t/twin-twin-transfusion-syndrome" target="_blank">Fetal Care Center - TTTS</a>
          <br><br>
          <a href="https://www.cincinnatichildrens.org/service/f/fetal-care/patient-stories/doty-ttts">Similar Patient Experience</a>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
  </mat-card>
</ng-container>
