@import "src/cchmc";

.resource-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  mat-card-title {
    color: $cchmc-pink;
  }
}

mat-card-content {
  ul {
    list-style-type: none;
  }
  p {
    font-style: italic;
  }
}
