<mat-card>
  <mat-card-header>
    <mat-card-title>Congrats on your new Child!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h4>We have collected the best resources for you as a new mother and shared them below.</h4>
    <br>
    <ul>
      <li>
        <p>A baby requires proper nutrition and care to stay healthy. We have provided a good article on what to feed your baby and what not to feed.</p>
        <a href="https://www.google.com/" target="_blank">What to feed your new baby</a>
      </li>
      <br>
      <li>
        <p>Babies come into this world with a blank brain. Start teaching them right away. We have linked some math and science textbooks below.</p>
        <a href="https://www.amazon.com/Multivariable-Calculus-7th-James-Stewart/dp/0538497874" target="_blank">Educate your newborn</a>
      </li>
      <br>
      <li>
        <p>Want your baby to be the flyest baby in the NICU? Here are some fits that will keep them fresh.</p>
        <a href="https://www.google.com/" target="_blank">Newborn clothes</a>
      </li>
    </ul>
  </mat-card-content>

</mat-card>
