@import "src/cchmc";

.resource-container {
  padding: 0 0.5rem 0 0.5rem;

  mat-card-title {
    color: $cchmc-pink;
  }
}

mat-card-content {
  ul {
    list-style-type: none;
  }
}

.info-container {
  margin: 0.5rem;
  line-height: 30px;
  font-size: 18px;

  p {
    text-indent: 1.75rem;
  }
  span {
    font-weight: bolder;
  }
}

.dt-resource-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  mat-card-title {
    color: $cchmc-pink;
  }
}
