// Colors pulled from centerlink
$color-batman: #000;
$white: #fff;
$primary: #732d64;
$secondary: #1b9bbb;
$next-color: #9db283;

.nav-container {
    width: 100%;

    nav {
      height: 5%;
      background-color: $next-color;
      overflow: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      width: 100%;
      z-index: 10000;

      h1 {
          margin-left: 2rem;
          color: $primary;
          font-weight: bolder;

      }
      .button-container {

        margin-right: 2rem;
        .logout-button {
          background-color: $primary;
          color: white;
        }
      }

  }

}

