<!-- <mat-toolbar color="primary" role="heading" style="position: fixed; z-index: 10;"> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
    <mat-card-title *ngIf="isHandset$|async" class="app-title-nav">Connect 4 Care</mat-card-title>
    <div *ngIf="checkUser();">
      <app-user-nav></app-user-nav>
    </div>
    <div *ngIf="checkAdmin(); "> 
      <app-admin-nav></app-admin-nav>
    </div>
    
  </mat-sidenav>
  
  <mat-sidenav-content>
    <div class="content-container">
      
      <div class="toolbar">
        <mat-toolbar color="primary" role="heading">
          <button mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
            <mat-icon>menu</mat-icon>
          </button>
          <button mat-button routerLink="/" *ngIf="!(isHandset$ | async)">
            <h1 class="text-tag" >Connect 4 Care</h1>
          </button>
          
          <span fxFlex></span>
          <div *ngIf="(isAuth | async) || (isAuth2 | async)" class="button-container">
            <div class="welcome-name">
              <h1 class="text-tag">Hello, {{nameConcat}}</h1>
            </div>
          </div>
        </mat-toolbar>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <div class="footer">
        <app-footer></app-footer>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
