
@import 'src/cchmc';
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;

}

.outlet {
  padding: 0 7px;
}
.bg-img {
  background: url("../../assets/img/cchmc-pattern.PNG") repeat center center fixed;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;

  z-index: -10;
  flex: 1 1 auto;
}

.app-title-nav {
  background-color: $cchmc-pink;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 16.5px;
  color: white;
}
