
@import 'src/cchmc';
.sidenav-container {
  min-height: 100vh;
}

.sidenav {
  height: 100vh;
  width: 200px;
  background-color: #f5f5f5;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: transparent;
}
.mat-icon-button {
  width: 48px;
  height: 48px;
  line-height: 48px;
  .mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgba(255,255,255,.8), $cchmc-blue), url("../../assets/img/cchmc-pattern.PNG");
  background-attachment: fixed;
  background-color: #98cbcf;
  background-blend-mode: multiply;
}

.content {
  // flex: 1;
  padding: 10px 10px;
  padding-bottom: 1rem;
}

.app-title-nav {
  background-color: $cchmc-blue;
  padding-top: 10px;
  padding-left: 14px;
  padding-bottom: 16.5px;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
