<!-- <mat-toolbar color="primary" role="heading" style="position: fixed; z-index: 10;"> -->

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport position="end"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="false">

    <mat-card-title *ngIf="isHandset$|async" class="app-title-nav" [style.background-color]="colorState">Connect 4 Care</mat-card-title>
    <mat-nav-list>
      <a mat-list-item (click)="closeSideNav()" routerLink="">Home</a>
      <a mat-list-item (click)="closeSideNav()" routerLink="/resources">Diagnosis</a>
      <a mat-list-item (click)="closeSideNav()" routerLink="/tools">Resources</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
<!--    <div class="content-container">-->

      <div class="toolbar">
<!--        <mat-toolbar role="heading" style="background-color: rgba(245,245,245,0)" [style.color]="colorState">-->
        <mat-toolbar role="heading" style="background-color: rgba(245,245,245,0)" [style.color]="colorState">
          <!-- Back button for mobile phones on every page except for the landing -->
          <ng-container *ngIf="!isHomeRoute(); else Welcome;">
            <button mat-icon-button routerLink="/" *ngIf="(isHandset$ | async)">
              <mat-icon>navigate_before</mat-icon>
            </button>
          </ng-container>

          <button mat-button routerLink="/" *ngIf="!(isHandset$ | async)">
            <h1 class="text-tag">Connect 4 Quality</h1>
          </button>

          <span fxFlex></span>
          <button mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) else LogoutButt">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

<!--    </div>-->
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #Welcome>
  <ng-container *ngIf="(isHandset$ | async)">
    <h3>Hello, {{nameConcat}}!</h3>
  </ng-container>
</ng-template>

<ng-template #LogoutButt>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="edit/profile">Edit Profile</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
