<mat-card style="margin: auto; width: 70%">
  <mat-card-title>Register a Patient</mat-card-title>
  <ng-container style="margin-top: 3rem">
    <form class="registration-form" [formGroup]="registration">
      <div>
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input type="text"
                 matInput
                 formControlName="email"/>
        </mat-form-field>
        Or
        <mat-form-field class="form-field">
          <mat-label>Phone (Not Implemented yet)</mat-label>
          <input type="text"
                 matInput
                 formControlName="phone"/>
        </mat-form-field>
      </div>
    </form>

    <!-- Submit button which ensures validation and checks to see if there is at least 1 hospital chip -->
    <div>
      <button mat-button
              class="submit-button"
              (click)="submit()"
              [disabled]="!registration.valid || selectedHospitals.length == 0">
        Register
      </button>
    </div>
  </ng-container>
</mat-card>
