
<div>
  <mat-card>
    <form [formGroup]="ptEmailForm" class="edit-form" (ngSubmit)="submitForm()" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" email="true" matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input type="tel" pattern="[0-9]{10}" matInput formControlName="phone">
        <mat-hint>No dashes or spaces</mat-hint>
      </mat-form-field>

      <div class="save-button">
        <div></div>
        <button mat-raised-button type="submit" class="mat-primary" [disabled]="!hasChanged">Save</button>
      </div>

    </form>

  </mat-card>
</div>
