.edit-form {

  width: 80%;
  margin: auto;


  .save-button {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

mat-card {
  //background-color: rgba(245, 245, 245, 0.6);
}

mat-form-field{
  border-width: 2px;
}
