
<mat-card class="patient-info-card">
    <mat-card-header>
      <mat-card-title>Patient Info:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="pt-info-container" fxLayout="row" fxLayout.lt-sm="column">
            <h3>Name: {{ name }} </h3>
            <h3> Birthday: {{ bday }} </h3>
            <h3> Gender: {{ gender }} </h3>
        </div>
    </mat-card-content>
  </mat-card>

  <h3 style="margin-left: 20px;">Phone: {{ phoneNum }}</h3>
  <h3 style="margin-left: 20px;">Address: {{ address }}</h3>
  <h3 style="margin-left: 20px;">Care Provider: {{ provider }}</h3>
  <h3 style="margin-left: 20px;">Language: {{ language }}</h3>

<!-- <div><pre>{{patient | json}}</pre></div> -->
<!--
<h1>Observation</h1>
<div *ngIf="(observation | async) as obs">
  <app-obs-value-list [observations]="obs"></app-obs-value-list>
</div> -->

