p {
  padding-left: 1%;
}

.patient-info-card {
    width: 80%;
    margin: auto;

    mat-card-content {
        .pt-info-container {
            display: flex;
            justify-content: space-evenly;
        }
    }
}
