<mat-card class="patient-info-card">
  <mat-card-header>
    <mat-card-title>Patient Demographic</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Name: </span>{{ name }}</p>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Birthday: </span>{{ bday }}</p>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Gender: </span>{{ gender }}</p>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Phone: </span>{{ phoneNum }}</p>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Address: </span>{{ address }}</p>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Care Provider: </span>{{ provider }}</p>
    <p style="margin-left: 20px;"><span style="font-weight: bold; color: primary">Lanuage: </span>{{ language }}</p>
  </mat-card-content>
</mat-card>


<!--<div><pre>{{patient | json}}</pre></div>-->
<!--
<h1>Observation</h1>
<div *ngIf="(observation | async) as obs">
  <app-obs-value-list [observations]="obs"></app-obs-value-list>
</div> -->

