
<div class="box-buttons">
  <div></div>
  <button class="mat-primary" mat-raised-button routerLink="../patient/add">Add New Patient</button>
</div>
<!--  Patient Search Card - Autocomplete fills last name  -->
<mat-card>

  <form fxLayout="column" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="Search by last name"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.lastName">
          {{ option.lastName }}, {{ option.firstName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button mat-raised-button class="mat-primary" (click)="onSubmit()">Edit patient profile</button>


</mat-card>

<br/>
<br/>
<br/>

<!--  Generates every patient in the firestore  -->
<h2 style="color: #f5f5f5">List of patients: </h2>
<div *ngFor="let patient of allPatients | async">
  <div *ngIf="patient.roles.includes('Patient')">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div>Name: {{patient.firstName}} {{patient.lastName}}</div>
          <br>
          <div>Phone Number: {{ patient.phone }}</div>
          <br/>
          <div>Mother's DoB: {{patient.MotherDoB.toDate() | date: "MM/dd/yyyy"}}</div>
        </div>
        <div>
          <button mat-button (click)="editPatient(patient.docName)">Edit</button>
        </div>
      </div>
    </mat-card>
    <br />
  </div>
</div>
