@import "src/cchmc";

.launch-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.app-start-header {
  flex: 0 1 auto;
  flex-flow: row;
  padding-right: 420px;
}

.cchmc-logo {
  margin: 20px;
  height: 80px;
  width: auto;
}

.login-area {
  position: fixed;

  right: 0;
  top: 0;

  margin: 20px;
  width: 360px;

  padding: 15px;

  background-color: white;

  border-radius: 10px;

  h2 {
    color: $cchmc-purple;
  }
}

.main-area {
  background: url("../../assets/img/cchmc-pregnancy-with-device.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  flex: 1 1 auto;
}

.app-title {
  color: $cchmc-purple;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.phone-launch {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.app-start-header-phone {
  flex: 0 1 auto;
  flex-flow: row;
}

.cchmc-logo-phone {
  margin: 15px;
  height: 50px;
  width: auto;
}

.app-title-phone {
  color: $cchmc-purple;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-area-phone {
  padding: 12px;
  position: absolute;
  margin: 20px;
  margin-top: 8.5rem;

  align-self: center;

  width: 85%;
  background-color: white;

  border-radius: 10px;

  h2 {
    color: $cchmc-purple;
  }
}

// .ss{
//   animation: fadeInDown; /* referring directly to the animation's @keyframe declaration */
//   animation-duration: 1s; /* don't forget to set a duration! */
// }

footer {
  position: fixed;
  padding: 5px ;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: #00aac8;
  text-align: center;
  opacity: 0.8;
  font-size: 10px;
}