<div class="launch-container" *ngIf="!(isHandset$ | async); else phone">
  <div class="app-start-header">
    <img src="assets/img/CC%20Logo%20-%20With%20Tagline.png" alt="cchmc logo" class="cchmc-logo">
    <span fxFlex></span>
    <h1 class="app-title">Connect 4 Care</h1>
    <span fxFlex></span>

    <div fxLayout="column">
      <span fxFlex></span>
      <div>
        <button mat-button routerLink = "about" >About</button>
        <button mat-button routerLink = "contactUs">Contact Us</button>
      </div>

    </div>

  </div>
  <div class="main-area"></div>

  <div class="login-area mat-elevation-z3" fxLayout="column" fxLayoutGap="15px" fxLayout.lt-sm="column">
    <ng-container *ngIf="!registerEnabled else register" class="register-phone">
      <h2 class="center-horizontal">Log In</h2>
      <app-login></app-login>
      <mat-divider></mat-divider>
      <p class="center-horizontal">New here?</p>
      <button mat-button (click)="registerEnabled = true" mat-raised-button color="primary" class="action-button">Create an account</button>
    </ng-container>
  </div>
</div>

<ng-template #register style="overflow: auto">
  <h2 class="center-horizontal">Create Account</h2>
  <app-registration></app-registration>

  <mat-divider></mat-divider>
  <p>Already have an account?</p>
  <button mat-button (click)="registerEnabled = false"  mat-raised-button color="primary" class="action-button">Log In Instead</button>
</ng-template>

<ng-template #phone>
  <div class="phone-launch" [ngStyle]="{'height': (registerEnabled) ? '900px' : '100%'}">
    <div class="app-start-header-phone">
      <img src="assets/img/CC%20Logo%20-%20With%20Tagline.png" alt="cchmc logo" class="cchmc-logo-phone">
      <span fxFlex></span>
      <h2 class="app-title-phone">Connect 4 Care</h2>
      <span fxFlex></span>
    </div>

    <div fxLayout="row" fxFlexAlign="left">
      <span fxFlex></span>
      <div>
        <button mat-button >About</button>
        <button mat-button>Contact Us</button>
      </div>
    </div>
    <div class="main-area" style="filter:blur(2px)"></div>

      <div class="login-area-phone mat-elevation-z3" fxLayout="column" fxLayoutGap="15px">
        <ng-container *ngIf="!registerEnabled else register">
          <h2 class="center-horizontal">Log In</h2>
          <app-login></app-login>
          <mat-divider></mat-divider>
          <p class="center-horizontal">New here?</p>
          <button mat-button (click)="registerEnabled = true"  mat-raised-button color="primary" class="action-button">Create an account</button>
        </ng-container>
      </div>
  </div>
</ng-template>
