@import "src/cchmc";

.launch-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.app-start-header {
  flex: 0 1 auto;
  flex-flow: row;
  padding-right: 420px;
}

.cchmc-logo {
  margin: 20px;
  height: 80px;
  width: auto;
}

.login-area {
  position: fixed;

  right: 0;
  top: 0;

  margin: 20px;
  width: 360px;

  padding: 15px;

  background-color: white;

  border-radius: 10px;

  h2 {
    color: $cchmc-pink;
  }
}

.main-area {
  background: url("../../assets/img/cchmc-pregnancy-with-device.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  flex: 1 1 auto;
}

.app-title {
  color: $cchmc-purple;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}
