<h2>Login</h2>
<form class="registration-form" [formGroup]="login">
  <mat-form-field class="form-field">
    <mat-label>Username</mat-label>
    <input type="text"
     matInput
     formControlName="username" [(ngModel)]="loginData.username">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input [type]="hide ? 'password' : 'text'"
     matInput
     formControlName="password" [(ngModel)]="loginData.password">
     <mat-icon matSuffix (click)="hide = !hide" class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
</form>
<div *ngIf="incorrectLogin" style="color: red;">Username or Password are incorrect</div>
<div mat-dialog-actions>
  <!-- <button mat-button class="submit-button" (click)="onCancel()">Cancel</button> -->
  <button mat-button class="submit-button" (click)="onSubmit()" [disabled]="!(login.valid)">Login</button>
  <button mat-button class="submit-button" (click)="onRegister()">Register</button>
</div>


