<!--<mat-card style="margin: auto; width: 70%">-->
<!--  <mat-card-title>Login</mat-card-title>-->
<form class="registration-form" [formGroup]="login" fxLayout="column"> <!--(ngSubmit)="onSubmit()"-->
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input type="text"
           matInput
           formControlName="username"
           [(ngModel)]="loginData.username"/>
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Password</mat-label>
    <input [type]="hide ? 'password' : 'text'"
           matInput
           formControlName="password"
           [(ngModel)]="loginData.password"/>
<!--    <mat-icon matSuffix (click)="hide = !hide" class="material-icons">{{-->
<!--      hide ? "visibility_off" : "visibility"-->
<!--      }}</mat-icon>-->
  </mat-form-field>
  <a (click)="forgotPassword()" class="forgot-password" routerLink=""> Forgot password? </a>

  <button mat-raised-button
          color="primary"
          class="action-button"
          [disabled]="!login.valid"
          (click)="onSubmit()">Log in
  </button>
  <div *ngIf="incorrectLogin" style="color: red">
    Username or Password are incorrect
  </div>
</form>
