//@use "../../cchmc-theme" as cchmc;
//@import '~@angular/material/theming';

.forgot-password {
  margin-bottom: 15px;
  text-align: right;
  color: var(--accent-darker-color);

  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--primary-darker-color);
  }
}
