<div *ngIf="gravidasDetails | async as gd" fxLayout="column" style="margin-bottom: 1rem;">
  <h3 style="text-align: center; color: #f5f5f5">Search for your hospital in the list below</h3>

</div>

<div fxLayout="row" fxFlexAlign="center">
  <span fxFlex></span>

  <mat-card fxFlex="600px" fxFlex.lt-sm="85%">
    <form class="login-form" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-form-field class="form-field">
        <mat-label>Search for Hospital</mat-label>
        <input type="text" matInput [formControl]="stateCtrl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button class="mat-primary">Connect</button>
    </form>

    <p style="font-size: 15px;">Don't see your hospital? <a routerLink="/survey">Enter infant information manually</a></p>
  </mat-card>
  <span fxFlex></span>

</div>

<div class="info-statement" fxLayout="row" fxFlexAlign="center">
  <span fxFlex></span>
  <mat-card fxFlex="600px" fxFlex.lt-sm="90%">
    <h2>How it works</h2>
    <p>Our mission is to provide the best care for our patients. By connecting your Electronic Health Record, we are able to collect
      valuable information to help us better understand your pregnancy.</p>
    <p>After selecting your hospital from the list above, you will be redirected to your hospitals MyChart where you will sign in
      and connect your EHR. Once there, you will see what information is accessible.</p>
    <p>After allowing access, you will be redirected back to our site to view this information. From here you will be able to select
      what to send to Cincinnati Children's.</p>
  </mat-card>
  <span fxFlex></span>
</div>

