<div *ngIf="gravidasDetails | async as gd" fxLayout="column" style="margin-bottom: 2rem;">
  <h3 style="text-align: center; color: #f5f5f5">Choose your hospital below or use the searchbox.</h3>

</div>

<div fxLayout="row" fxFlexAlign="center">
  <span fxFlex></span>

  <mat-card fxFlex="600px" fxFlex.lt-sm="300px">
    <form class="login-form" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-form-field class="form-field">
        <mat-label>Select Hospital</mat-label>
        <input type="text" matInput [formControl]="stateCtrl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button class="mat-primary">Authorize</button>
    </form>

    <p style="font-size: 15px;">Don't see your hospital? <a routerLink="/survey">Enter data manually</a></p>
  </mat-card>
  <span fxFlex></span>

</div>

