<div *ngIf="registrationInfo | async as pt" fxLayout="column" style="margin-bottom: 2rem;">
  <h3 style="text-align: center;">Choose your hospital below or use the searchbox.</h3>
  <div *ngFor="let h of pt.hospital" style=" margin: auto; padding: 10px;">
    <button mat-raised-button class="mat-primary" (click)="onSubmitSelected(h)">{{ h }}</button>
  </div>

</div>

<div fxLayout="row">
  <span fxFlex></span>

  <mat-card fxFlex="600px">
    <form class="login-form" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-form-field class="form-field">
        <mat-label>Choose Service</mat-label>
        <input type="text"
         matInput
         [formControl]="stateCtrl"
         [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button class="mat-primary">Authorize</button>
    </form>


  </mat-card>
  <span fxFlex></span>

</div>

