<mat-card>
  <mat-card-content>
    <h2>Various tips to assure your babies safety</h2>
    <br>
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Breastfeeding</mat-expansion-panel-header>
        Await
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Activities and Safety</mat-expansion-panel-header>
        <div class="info-container">
          <span>Fitness</span>
          <p>Not much info on exercise with TTTS / high-risk pregnancy.</p>
          <p>Consult your doctor for information on staying active.</p>
          <span>Nutrition</span>
          <p>&nbsp;&nbsp; Increased attention to maternal nutrition will help assure a safe and healthy pregnancy; Especially post FLC surgery.
          Research has shown that increased protein and calorie intake has a positive effect on the health and outcome of your pregnancy.
          If you have any known vitamin deficiencies, speak with your doctor about supplementing this deficiency.</p>
          <span>Travel</span>
          <p>&nbsp;&nbsp; In most cases, travel by means of plane, is a safe option. As long as you're healthy and your primary care doctor approves,
            there shouldn't be complications. Cabin pressure is equalized in flight to assure safety of passengers, including you and your babies.
            Airport screening systems output a minute amount of radiation, much smaller than any dangerous amount. </p>
          <p>&nbsp;&nbsp; If you are traveling by land, you should still take similar precautions. Make sure you are in good health
            and speak to your doctor prior to land travel as well as air travel.</p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Safe Sleeping</mat-expansion-panel-header>
        <app-safe-sleep></app-safe-sleep>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>Mental Health</mat-expansion-panel-header>
        <div class="info-container">
          <mat-card-title>Managing Mental Health</mat-card-title>
          <p>&nbsp;&nbsp; Feelings of depression are common in women with high-risk pregnancies. It's important to address these difficult feelings and to know
            it's completely normal to feel this way. Despite how serious things may feel, it's important to do things that make you feel happy and relaxed.</p>
          <p>&nbsp;&nbsp; There are plenty of safe activities that can allow you to relax and free your mind. Going on a walk with a friend is a great way to get your body moving
          while also spending time with someone close to you. Being in nature and speaking about your pent up emotions will greatly improve your mood.</p>
          <p>&nbsp;&nbsp; Another great way to relieve anxiety and stress is mindful meditation. Not just during your pregnancy, but anytime you are feeling overwhelmed.
          Mindfulness is the practice of bringing yourself as close to 'now' as possible. Generating a moment-to-moment awareness. It can reduce stress, boost positive feelings,
          and promote the birth of a healthy baby.</p>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>
</mat-card>




