<div class="wrapper">

  <h1>Staff Dashboard</h1>
  <div></div>
  <!-- SEARCH CARD -->
  <mat-card class="search-card"
            routerLink="/admin-list">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>person_search</mat-icon>
        Patient Search
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Search, edit, add, & delete patients.
    </mat-card-content>
  </mat-card>

  <!-- DOCUMENTS CARD -->
  <mat-card class="document-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>folder_open</mat-icon>
        Documents
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      View & print documents.
    </mat-card-content>
  </mat-card>
</div>

