@use '@angular/material' as mat;
@import "src/cchmc";

.wrapper {
  min-height: 100vh;
  background: linear-gradient(rgba(255,255,255,.8), $cchmc-blue), url("../../assets/img/cchmc-pattern.PNG");
  background-attachment: fixed;
  background-color: #98cbcf;
  background-blend-mode: multiply;
}

.content {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(300px, 40vw), 1fr));
  gap: 15px 15px;
  padding-bottom: 10px;
  h1 {
    color: white;
  }
}
mat-icon {
  vertical-align: middle;
}

.search-card {
  mat-card-header {
    background-color: $cchmc-blue;
  }
  &:hover {
    @include mat.elevation-transition();
    @include mat.elevation(10);
  }
}

.document-card {
  mat-card-header {
    background-color: $cchmc-blue;
  }
  &:hover {
    @include mat.elevation-transition();
    @include mat.elevation(10);
  }
}

mat-card {
  border-radius: 10px;
  padding: 0;
}

mat-card-header {
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 10px 1px;
}

mat-card-content {
  padding: 10px;
}
