<div fxLayout="row">
  <span fxFlex></span>
  <mat-card fxFlex="600px">
    <form [formGroup]="Search" (ngSubmit)="onSearch_Click()" fxLayout="column">
      <mat-form-field class="form-field">
        <mat-label>Enter Patient Email Address</mat-label>
        <input type="text" matInput formControlName="EmailInput" />
      </mat-form-field>

      <button mat-raised-button class="mat-primary" [disabled]="!Search.valid">
        Search for Patient
      </button>
    </form>
  </mat-card>
  <span fxFlex></span>
</div>
