<div class="pregnancy-container">
  <mat-card class="patient-data-card">
    <mat-card-header>
      <mat-card-title>Pregnancy's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-container" fxLayout="column" fxLayoutGap="15px">
      <div *ngFor="let gravida of allGravidas | async">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{gravida.EstDueDate.toDate() | date: "yyyy-MM-dd"}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div fxLayout="row">
                <div style="font-weight: bold;">Estimated Due Date: &nbsp;</div>
                <div>{{ gravida.EstDueDate.toDate() | date: "yyyy/MM/dd" }}</div>
              </div>
              <br/>

              <div fxLayout="row">
                <div style="font-weight: bold;">Diagnosis: &nbsp;</div>
                <div>{{ gravida.Diagnosis }}</div>
              </div>
              <br/>

              <div fxLayout="row">
                <div style="font-weight: bold;">Gestational Age: &nbsp;</div>
                <div>{{gestationalAgeCalc(gravida.EstDueDate)}}</div>
              </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      </div>
      <button mat-button [routerLink]="['/gravidas/edit']">
        <mat-icon>add</mat-icon>&nbsp;&nbsp;Add a pregnancy
        <!-- <span>Add a pregnancy</span> -->
      </button>
    </mat-card-content>
  </mat-card>
</div>

