<div class="pregnancy-container">
  <mat-card class="patient-data-card">
    <mat-card-header>
      <mat-card-title>Pregnancy's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="data-container" fxLayout="column" fxLayoutGap="15px">
      <div *ngFor="let gravida of allGravidas | async">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{gravida.gravidasTitle}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <div fxLayout="row">
                <span *ngIf="isAdminNav">
                  <button mat-icon-button>
                    <mat-icon
                      (click)="dueDateEdit = !dueDateEdit"
                      class="material-icons">edit
                    </mat-icon>
                  </button>
                </span>
                <div style="font-weight: bold;">Estimated Due Date: &nbsp;</div>
                <span *ngIf="!dueDateEdit">
                  <div>{{ gravida.EstDueDate| date: "yyyy/MM/dd" }}</div>
                </span>
                <span *ngIf="dueDateEdit">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="DoBpicker"
                      placeholder="Est. Due Date"
                      [(ngModel)]="gravida.EstDueDate"/>
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="DoBpicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #DoBpicker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </span>
              </div>
              <br/>

              <div fxLayout="row">
                <span *ngIf="isAdminNav">
                  <button mat-icon-button>
                    <mat-icon
                      (click)="diagnosisEdit = !diagnosisEdit"
                      class="material-icons">edit
                    </mat-icon>
                  </button>
                </span>
                <div style="font-weight: bold;">Diagnosis: &nbsp;</div>
                <div *ngIf="!diagnosisEdit">{{ gravida.Diagnosis }}</div>
                <span *ngIf="diagnosisEdit">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="gravida.Diagnosis" />
                  </mat-form-field>
                </span>
              </div>
              <br/>

              <div fxLayout="row">
                <div style="font-weight: bold;">Gestational Age: &nbsp;</div>
                <div>{{gestationalAgeCalc(gravida.EstDueDate)}}</div>
              </div>
              <br/>

              <div fxLayout="row">
                <span *ngIf="isAdminNav">
                  <button mat-icon-button>
                    <mat-icon
                      (click)="parityEdit = !parityEdit"
                      class="material-icons">edit
                    </mat-icon>
                  </button>
                </span>
                <div style="font-weight: bold;">Number of babys: &nbsp;</div>
                <div *ngIf="!parityEdit">{{gravida.parity}}</div>
                <span *ngIf="parityEdit">
                  <mat-form-field>
                    <input matInput type="number" [(ngModel)]="gravida.parity" />
                  </mat-form-field>
                </span>
              </div>

              <span *ngIf="isAdminNav">
                <br/>
                <div>
                  <button
                    mat-raised-button
                    class="mat-primary"
                    (click)="Clicked_SubmitChanges(gravida)">Submit Changes
                  </button>
                  &nbsp;
                  <button
                    mat-raised-button
                    class="mat-primary"
                    (click)="Clicked_DeletePreg(gravida)">Delete Pregnancy
                  </button>
                </div>
              </span>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      </div>
      <span *ngIf="!isAdminNav">
        <button mat-button [routerLink]="['/gravidas/edit']">
          <mat-icon>add</mat-icon>&nbsp;&nbsp;Add a pregnancy
          <!-- <span>Add a pregnancy</span> -->
        </button>
      </span>
      <span *ngIf="isAdminNav">
        <button mat-button [routerLink]="['/patient/gravida/add', adminNavID]">
          <mat-icon>add</mat-icon>&nbsp;&nbsp;Add a pregnancy
          <!-- <span>Add a pregnancy</span> -->
        </button>
      </span>
    </mat-card-content>
  </mat-card>
</div>

