<h1 mat-dialog-title>Enter your email</h1>
<form class="registration-form" [formGroup]="passwordReset" fxLayout="column">
  <mat-form-field class="form-field">
    <mat-label>Email</mat-label>
    <input type="text"
           matInput
           formControlName="email"/>
  </mat-form-field>
</form>
<div *ngIf="resetSent">A reset email has been sent to {{enteredEmail}}</div>
<div *ngIf="emailNotInUse">The email {{enteredEmail}} is not in use</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onRestClick()">Reset password</button>
</div>
