<mat-card-title>Resources</mat-card-title>

<div>
  <img src="../../assets/img/und_construct.png" width="100%">
</div>
<br>
<mat-card-content>
  <h2>&nbsp;What types of resources would you like to see?</h2>
  <p>( Breastfeeding, Safe Sleep, Mental Health etc... )</p>
<!--  <p>Breastfeeding</p>-->
<!--  <p>Safe Sleeping</p>-->
<!--  <p>Mental Health</p>-->
</mat-card-content>

<!--  <mat-card-title>Safe Sleeping Practices for Twins</mat-card-title>-->
<!--  <br>-->
<!--  <mat-card-content>-->

<!--    <h3>Place babies on their backs for every sleep</h3>-->
<!--    <p>We recommended placing them in the 'feet to foot' position (their feet at the foot of the cot). Babies should share-->
<!--    your room for the first 6 months to reduce SID. They should not sleep in your bed with you.</p>-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--    <h3>Keep soft bedding out of the sleep area</h3>-->
<!--    <p>Items such as blankets, pillows, bumper pads, and soft toys can all increase the risk of entrapment, suffocation,-->
<!--      or strangulation.</p>-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--    <h3>Make sure each blanket is tucked in securely</h3>-->
<!--    <p>Put your baby with his/her feet at the foot of the crib. Tuck in a thin blanket around the crib mattress,-->
<!--      only as far as the baby's chest. Alternatively, use infant sleeping bags.</p>-->
<!--&lt;!&ndash;    <br> &ndash;&gt;-->
<!--    <h3>Have a bedtime routine and sick to it</h3>-->
<!--    <p>This will help the babies get into a good settling routine. Coordinate night feeds so if one wakes up,-->
<!--      you can feed the other at the same time. There's no need to rush to cuddle one baby if they cry. Normally, the other-->
<!--      twin will sleep through their twin's crying.</p>-->
<!--    <br>-->
<!--    <h3>DO NOTS:</h3>-->
<!--    <ul>-->
<!--      <li>Do not share a bed with your baby.</li>-->
<!--      <li>Do not let your babies get too hot when sleeping - keep their heads uncovered.</li>-->
<!--      <li>Do not co-bed multiples once one or more babies are rolling.</li>-->
<!--      <li>Do not leave your babies unsupervised on a bed or on a sofa.</li>-->
<!--    </ul>-->
<!--  </mat-card-content>-->

