@use '@angular/material' as mat;
@import "src/cchmc";

p {
  text-indent: 1.75rem;
  line-height: 28px;
}

.state-stepper {
  //padding: 0 4rem 0 4rem;
  background-color: rgba(245,245,245,0);
  color: $cchmc-gray;
  border-radius: 10px;

  ::ng-deep.mat-horizontal-content-container {
    padding: 0 12px 12px 12px;
  }
  mat-panel-title {
    color: $cchmc-pink;
  }
  ::ng-deep.mat-step-label {
    font-size: 18px;
    font-weight: 800;
  }
  ::ng-deep.mat-step-label-selected {
    font-size: 24px;
    //font-weight: 800;
  }
  ::ng-deep.mat-button-disabled {
    opacity: 0.5;
  }

  .button-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    button {
      color: white;
      background-color: $cchmc-pink;
    }
  }
}

.center-button {
  text-align: center;
}

mat-card {
  border-radius: 10px;
}

