
<div class="form-container">
  <mat-card style="margin:auto">
    <h2>Please fill out all of the information below.</h2><br>
    <ng-container [formGroup]="userDataForm" style="margin-top: 3rem;">

      <mat-card-title>Baby's Legal Name</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="babyFirstName">
      </mat-form-field>&nbsp;&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="babyLastName">
      </mat-form-field>

      <mat-card-title>Baby's Date of Birth</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label><br>
        <input matInput [matDatepicker]="picker" formControlName="DOB" placeholder="--/--/----">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-card-title>Baby's Time of Birth</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="TOB">
      </mat-form-field>

      <mat-card-title>Baby's Birth Weight</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Pounds</mat-label>
        <input matInput type="text" formControlName="birthWeightLbs">
      </mat-form-field>&nbsp;&nbsp;
      <mat-form-field appearance="outline">
        <mat-label>Ounces</mat-label>
        <input matInput type="text" formControlName="birthWeightOs">
      </mat-form-field>

      <mat-card-title>Baby's Sex</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-select formControlName="sexOfChild">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Nonbinary">Non-binary</mat-option>
          <mat-option value="X">X</mat-option>
          <mat-option value="Unknown">Unknown</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-title>Delivery Location</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-select formControlName="deliverLoc">
          <mat-option value="Good Samaritan Hospital">Good Samaritan Hospital</mat-option>
          <mat-option value="TriHealth">TriHealth</mat-option>
          <mat-option value="University of Cincinnati Medical Center">University of Cincinnati Medical Center</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="userDataForm.value.deliverLoc == 'Other'">
        <mat-form-field appearance="outline">
          <mat-label>Name of Hospital</mat-label>
          <input matInput type="text" formControlName="otherDesc">
        </mat-form-field>
      </div>

      <div>
        <mat-card-title>Type of Birth</mat-card-title>
        <mat-radio-group formControlName="typeOfBirth">
          <mat-radio-button value="Vaginal">Vaginal Birth</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="Cesarean">C-Section</mat-radio-button>
        </mat-radio-group>
      </div>
      <br><br>
      <mat-card-title>Baby's Status</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="babyStatus">
          <mat-option value="home">Baby is home</mat-option>
          <mat-option value="inhospital">Baby is still in hospital</mat-option>
          <mat-option value="dead">Baby is deceased</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Baby Status Conditional Options -->
      <div *ngIf="userDataForm.value.babyStatus === 'dead'">
        <mat-form-field appearance="outline">
          <mat-label>Date of Death</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="DOD" placeholder="--/--/----">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p>For further support around your loss please contact the CCHMC Department of Pastoral Care and Bereavement Services at <span style="font-weight: bolder;">513-636-7720</span>.</p>
      </div>
      <div *ngIf="userDataForm.value.babyStatus === 'home'">
        <mat-form-field appearance="outline">
          <mat-label>Date of Discharge</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfDischarge" placeholder="--/--/----" [(ngModel)]="newData.dateOfDischarge">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-card-title>Was your baby sent home with any equipment?</mat-card-title>
        <mat-radio-group formControlName="typeEquipment">
          <mat-radio-button value="Oxygen">Oxygen</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="Ventilator">Ventilator</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="No Equipment">None</mat-radio-button>
        </mat-radio-group>

      </div>
      <div *ngIf="userDataForm.value.babyStatus === 'inhospital'">
        <mat-card-title>Were you transferred?</mat-card-title>
        <mat-radio-group formControlName="wasTransferred" [(ngModel)]="newData.wasTransferred">
          <mat-radio-button value="yes">Yes</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
        <br>
<!--        ON HOLD NEED TO DISCUSS -->
        <div *ngIf="this.userDataForm.value.wasTransferred === 'yes'">
          <mat-form-field appearance="outline">
            <mat-label>Transferred to</mat-label>
            <input matInput type="text" formControlName="transferredTo" [(ngModel)]="newData.transferredTo">
          </mat-form-field>
        </div>
      </div>
      <br>
      <button mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!userDataForm.valid || hasSent"
      (click)="submit()"
      style="margin-right: 1rem;">
      Send to Cincinnati Children's</button>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!hasSent"
              (click)="nextPt()">
        Next Infant</button>

    </ng-container>
  </mat-card>
</div>





