@import '../../../../cchmc';

.container {
  max-height: 100vh;
  max-width: 100%;
  padding: 1rem;
}
.mat-icon-button {
  width: 48px;
  height: 48px;
  line-height: 48px;
  .mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}
