<a mat-button style="text-decoration: underline; color: blue;" (click)="download_Clicked()">Click Here to Download This Document</a>
<br>
<div *ngIf="isLoaded" style="text-align: center;">
  <button mat-button (click)="prevPage()" [disabled]="page === 1">Prev</button>
  <span>{{ page }} / {{ totalPages }}</span>
  <button mat-button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
</div>

<pdf-viewer src={{fileSource}}
            [show-all]="false"
            [page]="page"
            (after-load-complete)="afterLoadComplete($event)"
></pdf-viewer>
