$batman: #000;
$white: #fff;
$primary: #732d64;
$secondary: #1b9bbb;
$next-color: #9db283;

.container {
  padding-top: 0rem;
  margin: auto;

  .button-container {
    padding: 2rem;

    .logout-button {
        background-color: $primary;
        color: $white;
        font-size: 18px;
        font-weight: 900;
    }
  }
}

