<div *ngIf="registrationInfo | async as pt">
  <mat-card style="margin: auto; width: 70%">
    <ng-container style="margin-top: 3rem">
      <div fxLayout="row">
        <div style="font-weight: bold;">Date of Birth: &nbsp;</div>
        <div>{{ pt.MotherDoB.toDate() | date: "yyyy/MM/dd" }}</div>
      </div>
      <br/>

      <div fxLayout="row">
        <div style="font-weight: bold;">Estimated Due Date: &nbsp;</div>
        <div>{{ pt.EstDueDate.toDate() | date: "yyyy/MM/dd" }}</div>
      </div>
      <br/>

      <div fxLayout="row">
        <div style="font-weight: bold;">Diagnosis: &nbsp;</div>
        <div>{{ pt.Diagnosis }}</div>
      </div>
      <br/>

      <div fxLayout="row">
      <div style="font-weight: bold;">Gestational Age: &nbsp;</div>
      <div>{{ gestationalAge }}</div>
      </div>
      <br />
    </ng-container>
  </mat-card>
</div>
