<h2 mat-dialog-title>Privacy  Policy</h2>
<mat-dialog-content class="mat-typography">
  <h3>What is This Notice and Why It Important</h3>
  <p>Cincinnati Children’s Hospital Medical Center (Cincinnati Children’s) is required by law to maintain the privacy of patient
     protected health information, provide patients with notice of our legal duties and privacy practices regarding protected health information,
    and notify individuals when a breach of unsecured protected health information occurs.
     We understand that your health information is highly personal. We are committed to safeguarding your privacy.</p>

  <h3>What Does This Notice COver</h3>
  <p>This Notice covers information about your health condition, health care treatment, or payment for health care
    treatment that could reasonably identify who you are.  It includes information in the possession of any Cincinnati Children’s
     department or division.  This Notice applies to all personnel, volunteers, contractors, or anyone working here who might have
     access to your health information</p>

  <h3>How Cincinnati Children’s Will Use Your Health Information</h3>
  <p>We are permitted to use or disclose to others outside Cincinnati Children’s your health information without permission from you for three basic types of activities:

    Treatment− We are permitted to use your health information or disclose it to others outside Cincinnati Children’s to provide proper medical care to you. This means we can provide your health information to nurses, technicians, doctors, medical students, or outside laboratories involved in your care.
    
    For example, dietitians may need to know your condition if it requires special meals; X-ray and laboratory technicians may need to know your condition to conduct the proper test; other physicians may need to have your information to advise those providing your care.
    
    In some circumstances, we may require you to complete an Authorization form for disclosure of your protected health information to an outside health care provider.
    
    Payment− We are permitted to use your health information or disclose it to others outside Cincinnati Children’s to submit bills for the care and services you receive.
    
    For example, information about your care or services may be sent to your insurance company, a government insurance program, or another company that processes the information and submits it for payment. 
    
    We may also provide information to your health plan about treatment you may receive so they may determine whether you are covered for that care. 
    Healthcare Operations− We are permitted to use your health information or disclose it to others outside Cincinnati Children’s in order to run the hospital and ensure high quality care. 
    
    For example, we may use or disclose your information to review how we provide care to you, help us improve how we operate the hospital, meet compliance or licensing requirements, or send you appointment reminders. 
    There are some other situations in which we may use your information or disclose it to others outside Cincinnati Children’s without a written authorization from you, such as:  
    Treatment Alternatives−.We may use or disclose your health information to tell you about or recommend possible treatment-related options, activities, or alternatives that may be helpful to you.  
    
    Health-Related Benefits and Services− We may use or disclose your health information to tell you about health-related benefits or services that may be of interest to you.  
    
    Fundraising Activities− We may contact you to raise funds for Cincinnati Children’s, and you have the right to opt out of receiving fund-raising communications.  We may use or disclose your health information to contact you for fundraising activities for or by Cincinnati Children’s or on our behalf by others. 
    In fundraising, we will only use or disclose demographic information (name, address and contact information, age, gender, and date of birth) and health insurance status, dates of care provided, department of service, treating physician, and outcome information. 
    
    If you do not want to be contacted for fundraising efforts, you must notify the Director of Business Operations in writing at Department of Development, MLC 9002, Cincinnati Children’s Hospital Medical Center, 3333 Burnet Avenue, Cincinnati, Ohio 45229-3039.   
    
    Patient Directory− We may include your name, hospital location, general condition, and religious affiliation in the hospital’s electronic patient directory while you are a patient at the hospital.
    
    This information, except for your religious affiliation, may be disclosed to any person, including a member of the media who asks for you by name. 
    
    Your religious affiliation may be given to a member of the clergy.
    
    During registration, you will be given an opportunity to withhold your information from the patient directory. If, at any time, you wish to remove your information from the patient directory, you must notify the registration desk or a customer service representative.
    
    Individuals Involved in Your Care or Payment for Your Care− During times of treatment, we will disclose your health information to you or your personal representative. 
    
    We may also disclose your health information to individuals involved in your care or payment for your care that relates to that involvement or to an entity assisting in a disaster relief effort so that your family can be notified about your condition, status, and location
    Research− Under certain circumstances, we may use and disclose your health information for research purposes. 
    For example, we may disclose your information to researchers preparing to conduct an investigation to help them look for patients with specific medical conditions.
    As Required By Law− We will disclose your information when required by law.
    
    Public Health Activities − We may use and disclosure your information for public health activities, such as reporting of diseases, injuries, vital events, or exposures to communicable diseases. 
    Government Oversight Activities − We may use and disclosure your information to a health oversight agency responsible for overseeing, for example, the health care system or government benefits and regulatory programs. 
    
    In some circumstances, such as if we believe a crime has been or is being committed on our premises, in an emergency, or for national security purposes, we may disclose limited information to law enforcement officials.
     
    To Avoid a Serious Threat to Health or Safety− We may use and disclose your health information to prevent a serious threat to your health and safety or the health and safety of the public or another person.  Any disclosure, however, would only be to someone able to help prevent the threat.  
    
    Organ and Tissue Donation− If you are an organ donor and/or recipient, we may release medical information to organizations that handle organ procurement or organ, eye or tissue transplantation or to an organ donation bank to support the process.
    
    These entities include, but are not limited to, Ohio Solid Organ Transplant Consortium, United Network for Organ Sharing (UNOS) and Ohio Valley Life Center.
     
    Marketing− We are not permitted to use your information in order to conduct marketing activities unless you have specifically authorized the communication.
         
    Psychotherapy Notes − Psychotherapy notes are notes recorded by a mental health professional that document or analyze the contents of a conversation in a counseling session and are kept separated from the rest of your medical record. There are very limited circumstances in which we will use or disclose psychotherapy notes without a written authorization from you. 
    
    The originator of the notes may use them for treatment purposes. Cincinnati Children’s may use psychotherapy notes in its own mental health counseling training programs. 
    
    We may also use psychotherapy notes in defense of a legal action or other proceeding brought by you, as required by law, or to avert a serious threat to a person’s or the public’s health or safety.
         
    Sale of Protected Health Information− We are not permitted to sell your information unless you have specifically authorized the disclosure</p>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>