<mat-card style="margin:auto; width: 70%;">
  <mat-card-title>-- Main Form Component --</mat-card-title>
  <form [formGroup]="userDataForm" style="margin-top: 3rem;">
    <h3>End of Gestation</h3>
    <input type="date" formControlName="endOfGestation">
    <br>

    <h3>Gestational Age</h3>
    <input type="number" formControlName="gestationalAge">
    <br>

    <h3>Rupture of Membranes</h3>
    <input type="radio" formControlName="ruptMembranes" id="yes" value="yes">
    <label for="yes">Yes</label><br>
    <input type="radio" formControlName="ruptMembranes" id="no" value="no">
    <label for="no">No</label>
    <br>
    <div *ngIf="userDataForm.value.ruptMembranes == 'yes'">
      <h3>Gestational age at time of rupter</h3>
      <input type="number" formControlName="ageAtRuptTime">
    </div><br>

    <h3>Delivery Location</h3>
    <input type="radio" formControlName="deliverLoc" id="cchmc" value="cchmc">
    <label for="cchmc">Cincinnati Childrens Hospital Medical Center</label><br>
    <input type="radio" formControlName="deliverLoc" id="gsh" value="gsh">
    <label for="gsh">Good Samaritan Hospital</label><br>
    <input type="radio" formControlName="deliverLoc" id="uc" value="uc">
    <label for="uc">University of Cincinnati Medical Center</label><br>
    <input type="radio" formControlName="deliverLoc" id="other" value="other">
    <label for="other">Other</label>
    <br><br>
    <div *ngIf="userDataForm.value.deliverLoc == 'other'">
      <label for="othertext">Describe</label><br>
      <input type="text" formControlName="otherDesc" id="othertext">
    </div>

    <h3>Donor or Recipient</h3>
    <input type="radio" formControlName="donOrRec" id="recipient" value="recipient">
    <label for="recipient">Recipient</label><br>
    <input type="radio" formControlName="donOrRec" id="donor" value="donor">
    <label for="donor">Donor</label>
    <br>

    <div formGroupName="secSet">

      <h3>Type of Birth</h3>
      <input type="radio" formControlName="typeOfBirth" id="cesarea" value="cesarea">
      <label for="cesarea">Cesarea</label><br>
      <input type="radio" formControlName="typeOfBirth" id="vaginal" value="vaginal">
      <label for="vaginal">Vaginal</label>

      <h3>Birth Weight (g)</h3>
      <input type="text" formControlName="birthWeight">
      <br>

      <h3>Sex of the Child</h3>
      <input type="radio" formControlName="sexOfChild" id="male" value="male">
      <label for="male">Male</label><br>
      <input type="radio" formControlName="sexOfChild" id="female" value="female">
      <label for="female">Female</label>
      <br>

      <h3>Fetal MRN</h3>
      <input type="number" formControlName="fetalMRN">
      <br>

      <h3>Baby Name</h3>
      <input type="text" formControlName="babyName">
      <br>

      <h3>Live Birth</h3>
      <input type="radio" formControlName="liveBirth" id="yes" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" formControlName="liveBirth" id="yes" value="no">
      <label for="no">No</label>
      <br>

      <h3>Death Within 30 Days</h3>
      <input type="radio" formControlName="deathInThirty" id="yes" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" formControlName="deathInThirty" id="yes" value="no">
      <label for="no">No</label>
      <br><br>
      <div *ngIf="userDataForm.get('secSet.deathInThirty')?.value == 'yes'">
        <label for="desc">Explain</label><br>
        <input type="text" formControlName="deathDesc" id="desc">
      </div>

      <h3>Termination</h3>
      <input type="radio" formControlName="termination" id="yes" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" formControlName="termination" id="yes" value="no">
      <label for="no">No</label>
    </div>
    <br>

    <button type="submit" [disabled]="!userDataForm.valid" (click)="submit()" style="margin-bottom: 4rem;">Submit</button>

  </form>
</mat-card>




