@import "../../../../cchmc";

mat-card {
  margin: auto;
}

mat-card-title {
  color: $cchmc-pink;
}

mat-card-content {
  ul {
    list-style-type: none;
  }
}

.info-container {
  margin: 0.5rem;
  line-height: 30px;
  font-size: 18px;

  span {
    font-weight: bolder;
  }
}
